html * :not(i) {
    font-family: 'Montserrat','Prompt', sans-serif !important;    
}

.card {
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2) !important;
    border: none !important;
}

.segment {
    box-shadow: 2px 2px 20px 0px rgba(46,61,73,0.2) !important;
}

.basic {
    box-shadow: none !important;
}

.card:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2) !important;
}

.slick-next:before, .slick-prev:before {
    content: none !important;
}

.ui.red.header{
    color: #F1152B !important;
}